extends ../layout/base 
block content 
	section.content-header 
		h1 
			| Blank Page
			small it all starts here
		ol.breadcrumb 
			li 
				a(href='#') 
					i.fa.fa-dashboard
					| Level 
			li.active Here 
	section.content
		.box
			.box-header.with-border
				h3.box-title
					| Barang
				.box-tools.pull-right
					button(type='button', data-widget='collapse', data-toggle='tooltip',title='collapse').btn.btn-box-tool
						i.fa.fa-minus
					
			.box-body
				form(role='form',method='post' action='/barang/add')
					.row
						
						.col-xs-6
							.box-body
								- if (messages.msg_error) 
									.alert.alert-danger.alert-dismissable 
										button.close(type='button', data-dismiss='alert', aria-hidden='true') 
											| ×
										h4
											i.icon.fa.fa-ban
											| Alert! 
										| !{messages.msg_error}
								.form-group
									label
										| Kode
									input(type='text',value='#{kode}',name='kode',placeholder='Masukkan Kode', autofocus).form-control
								.form-group
									label
										| Nama
									input(type='text',value='#{nama}',name='nama',placeholder='Masukkan Nama').form-control
								.form-group
									label
										| Merek
									input(type='text',value='#{merek}',name='merek',placeholder='Masukkan Merek').form-control
								.form-group
									label
										| Satuan
									input(type='text',value='#{satuan}',name='satuan',placeholder='Masukkan Satuan').form-control
								.form-group
									label
										| Jumlah
									input(type='text',value='#{jumlah}',name='jumlah',placeholder='Masukkan Jumlah').form-control
								.form-group
									label
										| Harga
									input(type='text',value='#{harga}',name='harga',placeholder='Masukkan Harga').form-control
							.box-footer
								button(type='submit').btn.btn-primary
									| Submit
								a(href='/barang').btn.btn-primary.pull-right
									| Back