extends ../layout/base 
block content 
	section.content-header 
		h1 
			| Blank Page
			small it all starts here
		ol.breadcrumb 
			li 
				a(href='#') 
					i.fa.fa-dashboard
					| Level 
			li.active Here 
	section.content
		.box
			.box-header.with-border
				h3.box-title
					| Barang
				.box-tools.pull-right
					button(type='button', data-widget='collapse', data-toggle='tooltip',title='collapse').btn.btn-box-tool
						i.fa.fa-minus
					
			.box-body
				form(role='form',method='post' action='/barang/add')
					.row
						
						.col-xs-6
							.box-body
								- if (messages.msg_error) 
									.alert.alert-danger.alert-dismissable 
										button.close(type='button', data-dismiss='alert', aria-hidden='true') 
											| ×
										h4
											i.icon.fa.fa-ban
											| Alert! 
										| !{messages.msg_error}
								.form-group
									label
										| Nama
									input(type='text',value='#{name}',name='name',placeholder='Masukkan Nama').form-control
								.form-group
									label
										| Kategori
									input(type='text',value='#{kategori}',name='kategori',placeholder='Masukkan Kategori').form-control
								.form-group
									label
										| Size
									input(type='text',value='#{size}',name='size',placeholder='Masukkan Size').form-control
								.form-group
									label
										| Stok
									input(type='text',value='#{stok}',name='stok',placeholder='Masukkan stok').form-control
								.form-group
									label
										| Harga
									input(type='text',value='#{harga}',name='harga',placeholder='Masukkan Harga').form-control
								.form-group
									label
										| Image
									input(type='text',value='#{image}',name='image',placeholder='Masukkan Image').form-control
							.box-footer
								button(type='submit').btn.btn-primary
									| Submit
								a(href='/barang').btn.btn-primary.pull-right
									| Back